<button type="button" class="btn btn-dark mb-2"><%= link_to "＋ List", new_list_path %></button>

<div class="card" style="width: 18rem;">
<div class="card-header">
  Our Lists
</div>
<ul class="list-group list-group-flush">
<% @lists.each do |list| %>
  <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
<% end %>
  </ul>
</div>

<div class="card">
  <% @lists.each do |list| %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
      <p class="card-text"><%= list.desciption %> </p>
    </div>
  <% end %>
  <% @article.photos.each do |photo| %>
    <img class="card-img-bottom" src="<%= cl_image_tag photo.key %>" alt="Card image cap">
  <% end %>
</div>
