<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>

<button type="button" class="mt-2 btn btn-dark"><%= link_to "â†", lists_path %></button>
